body {
    margin: 0; 
    padding: 0;
}

.box1 {
    width: 100%;
    height: 62vh;

    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    width: 1400px;
    height: 182px;

    border: 1px solid black;
}

.split {    
    width: 800px;
    height: 162px;

    border: 1px solid rgb(0, 0, 0);

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;
}

.live-btn {
    width: 210px;
    height: 65px;

    background-color: #1d4fe7;
}

.messages-btn {
    width: 180px;
    height: 65px;

    background-color: #1d4fe7;
}


.box2 {
    width: 100%;
    height: 80vh;

    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.left {
    width: 1050px;
    height: 500px;

    /* border: 1px solid black; */

    display: flex;
    justify-content: center;    
    flex-direction: column;
    
    gap: 10px;
}

.text1 {
    width: 100%;
    height: 160px;

    border: 1px solid black;
}

.text2 {
    width: 100%;
    height: 120px;

    border: 1px solid black;
}

.new-btn {
    width: 180px;
    height: 65px;

    background-color: #1d4fe7;
}

.right {
    width: 600px;
    height: 600px;

    border: 1px solid black;
}


.box2-x {
    width: 100%;
    height: 80vh;

    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

.left-x {
    width: 1050px;
    height: 500px;

    /* border: 1px solid black; */

    display: flex;
    justify-content: center;    
    flex-direction: column;
    
    gap: 10px;
}

.text1-x {
    width: 100%;
    height: 160px;

    border: 1px solid black;
}

.text2-x {
    width: 100%;
    height: 120px;

    border: 1px solid black;
}

.new-btn-x {
    width: 180px;
    height: 65px;

    background-color: #1d4fe7;
}

.right-x {
    width: 600px;
    height: 600px;

    border: 1px solid black;
}
